In [156]:
# Initial imports
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

%matplotlib inline

In [157]:
#get tickers based on sector
base_url = 'https://financialmodelingprep.com/api/v3/stock-screener?'

#get the tickers for technology sector
parameters = {"sector":"Technology",  "apikey":"1dfbdeeb16dfc6a2bc3db23b0e212a58"}
response = requests.get(base_url, parameters)
sector_technology = response.json()

#get the tickers for energy sector
parameters = {"sector":"Energy",  "apikey":"1dfbdeeb16dfc6a2bc3db23b0e212a58"}
response = requests.get(base_url, parameters)
sector_energy = response.json()

#get the tickers for real estate
parameters = {"sector":"Real Estate",  "apikey":"1dfbdeeb16dfc6a2bc3db23b0e212a58"}
response = requests.get(base_url, parameters)
sector_realestate = response.json()

response = requests.get(base_url, parameters)
sector_auto = response.json()



#sector_technology

#ticker_technology = pd.DataFrame()

#sector_technology

In [158]:
# convert technology JSON to dataframe
technology_dataframe = pd.DataFrame(sector_technology)
# sort values by marketcap
technology_dataframe.sort_values(by=['marketCap'], ascending = False, inplace = True)
# filter for US only companies
technology_dataframe_us = technology_dataframe[technology_dataframe['exchangeShortName']=='NASDAQ']
# filter for US only companiesselect the top 5 based on market cap
technology_dataframe_us_top_five = technology_dataframe_us.head(5)
technology_dataframe_us_top_five

,beta,companyName,country,exchange,exchangeShortName,industry,isActivelyTrading,isEtf,lastAnnualDividend,marketCap,price,sector,symbol,volume
0,1.337580,Apple Inc,US,Nasdaq Global Select,NASDAQ,Consumer Electronics,True,False,0.820,2.037907e+12,121.39,Technology,AAPL,110668308
1,0.855190,Microsoft Corp,US,Nasdaq Global Select,NASDAQ,Software Infrastructure,True,False,2.140,1.774232e+12,235.24,Technology,MSFT,29968854
4,1.539230,NVIDIA Corp,US,Nasdaq Global Select,NASDAQ,Semiconductors,True,False,0.640,3.211166e+11,517.93,Technology,NVDA,8306954
6,0.679730,Intel Corp,US,Nasdaq Global Select,NASDAQ,Semiconductors,True,False,1.338,2.620635e+11,64.50,Technology,INTC,37954501
7,1.053097,ASML Holding N.V.,NL,Nasdaq Global Select,NASDAQ,Semiconductor Equipment & Materials,True,False,2.868,2.463725e+11,608.00,Technology,ASML,934706

In [159]:
# convert energy JSON to dataframe
energy_dataframe = pd.DataFrame(sector_energy)
# filter for US only companies
energy_dataframe_us = energy_dataframe[energy_dataframe['exchangeShortName']=='NYSE']
# sort values by marketcap
energy_dataframe_us.sort_values(by=['marketCap'], inplace = True, ascending = False)
energy_dataframe_us.drop_duplicates(subset=['companyName'],keep='first',inplace = True)
# filter for US only companiesselect the top 5 based on market cap
energy_dataframe_us_top_five = energy_dataframe_us.head(5)
energy_dataframe_us_top_five

D:\ProgramFiles\Anaconda\envs\pyvizenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\ProgramFiles\Anaconda\envs\pyvizenv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

,beta,companyName,country,exchange,exchangeShortName,industry,isActivelyTrading,isEtf,lastAnnualDividend,marketCap,price,sector,symbol,volume
0,1.280610,Exxon Mobil Corp,US,New York Stock Exchange,NYSE,Oil & Gas Integrated,True,False,3.48000,2.430041e+11,57.40,Energy,XOM,31635932
2,1.211330,Chevron Corp,US,New York Stock Exchange,NYSE,Oil & Gas Integrated,True,False,5.16000,2.061364e+11,106.92,Energy,CVX,11570178
3,0.835880,Royal Dutch Shell plc,NL,New York Stock Exchange,NYSE,Oil & Gas Integrated,True,False,1.30600,1.513559e+11,38.21,Energy,RDS-B,2980645
7,0.739340,Total S.A.,FR,New York Stock Exchange,NYSE,Oil & Gas Integrated,True,False,3.14200,1.220807e+11,47.01,Energy,TOT,2512718
9,1.292839,PetroChina Company Limited,CN,New York Stock Exchange,NYSE,Oil & Gas Integrated,True,False,3.46056,1.151743e+11,36.89,Energy,PTR,185609

In [160]:
# convert real estate JSON to dataframe
realestate_dataframe = pd.DataFrame(sector_realestate)
# filter for US only companies
realestate_dataframe_us = realestate_dataframe[realestate_dataframe['country']=='US']
# sort values by marketcap
realestate_dataframe_us.sort_values(by=['marketCap'], inplace = True, ascending = False)
# filter for US only companiesselect the top 5 based on market cap
realestate_dataframe_us_top_five = realestate_dataframe_us.head(5)
realestate_dataframe_us_top_five

D:\ProgramFiles\Anaconda\envs\pyvizenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,beta,companyName,country,exchange,exchangeShortName,industry,isActivelyTrading,isEtf,lastAnnualDividend,marketCap,price,sector,symbol,volume
0,0.28079,American Tower Corp,US,New York Stock Exchange,NYSE,REIT Specialty,True,False,4.53000,1.074654e+11,241.83,Real Estate,AMT,2349819
1,0.90519,Prologis Inc,US,New York Stock Exchange,NYSE,REIT Industrial,True,False,2.37000,7.898257e+10,106.77,Real Estate,PLD,2836113
2,0.27243,Crown Castle International Corp,US,New York Stock Exchange,NYSE,REIT Specialty,True,False,5.06000,7.564569e+10,175.03,Real Estate,CCI,2334563
4,0.38324,Equinix Inc,US,Nasdaq Global Select,NASDAQ,REIT Specialty,True,False,10.85000,6.141579e+10,687.84,Real Estate,EQIX,589600
5,0.00000,"Simon Property Group, Inc.",US,New York Stock Exchange,NYSE,REIT,True,False,4.18752,5.731638e+10,67.79,Real Estate,SPG-PJ,1029

In [161]:
#get all sector tickers and pass them to a List
realestate_tickers = realestate_dataframe_us_top_five['symbol'].to_list()
energy_tickers = energy_dataframe_us_top_five['symbol'].to_list()
technology_tickers = technology_dataframe_us_top_five['symbol'].to_list()

In [162]:
print('real estate tickers: ',realestate_tickers,'\n', 'energy tickers: ',energy_tickers,'\n', 'technology tickers: ',technology_tickers)

real estate tickers:  ['AMT', 'PLD', 'CCI', 'EQIX', 'SPG-PJ']
 energy tickers:  ['XOM', 'CVX', 'RDS-B', 'TOT', 'PTR']
 technology tickers:  ['AAPL', 'MSFT', 'NVDA', 'INTC', 'ASML']

In [163]:
# Load .env environment variables
load_dotenv()

Python-dotenv could not parse statement starting at line 5

True

In [164]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

In [165]:
# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

In [166]:
# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    base_url="https://paper-api.alpaca.markets",
    api_version="v2")

In [167]:
# Format current date as ISO format
today = pd.Timestamp("2020-07-14", tz="America/New_York").isoformat()
# Set the tickers
tickers = energy_tickers
# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"

In [168]:
# Get current closing prices for FB and TWTR
df_portfolio = alpaca.get_barset(
    tickers,
    timeframe,
    start = today,
    end = today
).df

# Display sample data
df_portfolio

                             CVX                                   PTR         \
                            open  high      low  close   volume   open   high
time
2020-07-14 04:00:00+00:00  85.39  88.6  85.0401  88.41  5632645  34.99  35.39

                                                ...    TOT                \
                             low  close volume  ...   open   high    low
time                                            ...
2020-07-14 04:00:00+00:00  34.82  35.33  77442  ...  38.06  39.13  37.95

                                             XOM                       \
                           close   volume   open   high    low  close
time
2020-07-14 04:00:00+00:00  39.06  1823851  42.53  44.19  42.26  44.07


                             volume
time
2020-07-14 04:00:00+00:00  18470118

[1 rows x 25 columns]